@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Rajdhani/rajdhani.eot'); /* IE9 Compat Modes */
  src: local('Rajdhani Regular'), local('Rajdhani-Regular'),
       url('../fonts/Rajdhani/rajdhani.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Rajdhani/rajdhani.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Rajdhani/rajdhani.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Rajdhani/rajdhani.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Rajdhani/rajdhani.svg#Rajdhani') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f7f7f7 !important;
  }
  
/**********************
        NAVBAR
***********************/

.navbar-toggler {
  color: black;
}

.navbar-logo{
  width: 2em;
  height: auto;
}

.navbar-title {
  font-family: 'Rajdhani', sans-serif;
  margin-right: 0.25em;
  font-size: 1.8em;
  color: black;

}

.nav-link {
  font-family: 'Rajdhani', sans-serif;
  text-decoration: none;
  margin-right: 0.2em;
  font-size: 1.55em;
  color: black !important;
}

.nav-link:hover {
  color: gray !important;
}

.search {
  border-radius: 5px !important;
}

/**********************
        CONTENT
***********************/

.content {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f7f7f7;
}

/**********************
        MODAL
***********************/

.modal-title {
  font-size: 30px;
  color: black;
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.modal-explore-item-title {
  font-size: 2em;
  font-family: 'Rajdhani', sans-serif;
  margin-top: 10px;
  margin-bottom: 1px;
}

.modal-explore-item-row {
  margin-left: 10px !important; 
  margin-right: 10px !important;
}

.modal-explore-btn {
  font-size: 1.5em !important;
  font-weight: bold !important;
  margin: 1em;
  width: 10em;
  font-family: 'Rajdhani', sans-serif;
  border-radius: 0.5em;
  color: white;
  background-color: black;
}
 
/**********************
        CHECKBOXES
***********************/

.checkbox-text {
  margin-left: 0.25em;
  margin-right : 0.25em;
}

/**********************
      FOOTER
***********************/
.footer a, .footer a:hover {
  text-decoration: none !important;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  color: #606060;
}

.footer {
  color: #606060;
  padding-top: 0.5em;
}
