.list-header {
    background-color: black;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 1.5em;
    font-family: 'Rajdhani', sans-serif;
}

.list-title {
    font-size: 2em;
    color: white;
    font-weight: bold;
    text-align: center;
}

.list-group-item:hover {
     background-color: #ededed;
     color: #565656;
}

.list-group-item {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: 'Rajdhani', sans-serif;
}

.list-group-item-title {
    font-weight: bold;
    font-size: 1.7em;
    font-family: 'Rajdhani', sans-serif;  
}

.list-group-item-subtitle {
    font-weight: lighter;
    font-size: 1.3em;
    font-family: 'Rajdhani', sans-serif;  
}