/**********************
      PAGE CONTENT
***********************/

.section-title {
  font-size: 2.5em;
  color: black;
  font-weight: bold;
}

.item-title {
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Rajdhani', sans-serif;
}

.author-reference {
  font-weight: bold;
  font-size: 1.15em;
  font-family: 'Rajdhani', sans-serif;
}
