/**********************
      PAGE CONTENT
***********************/
.introduction {
  padding-top: 50px;
}

.form {
  border-radius: 10px;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.select {
  border: 2px solid #d1d4d7 !important;
}

.btn {
  width: 100%;
}

.find-btn {
  height: 60px;
  color: white;
  font-size: 20px;
  background-color: #148ce0;

}

.section-title {
  font-size: 2em;
  color: black;
  font-weight: bold;
}


