{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title %} Projects {% endblock %}
{% block css %}
<link href="{% static 'css/find.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}
{% block body %}

    <div class="container">
        <div class="list-group">
            <div class="list-header">
                <span class="list-title">PROJECTS LIST</span>
            </div>                                
            {% for project in selected_projects %}
            <a href="{% url 'website:project' project.owner project.name %}" class="list-group-item">
                <span class="list-group-item-title">{{project.name}}</span> <br>
                <span class="list-group-item-subtitle">{{project.owner}}</span>
            </a>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}