<!-- Importing base.html as template -->
{% extends 'website/base.html' %}
{% load staticfiles %}
<!-- Page Title -->
{% block title %} Index {% endblock %}
<!-- Page Stylesheets -->
{% block css  %}
	<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}

{% block body %}
	<div class="container text-justify">
		<div class="row">
			<div class="col-md-6">
				<span class="section-title">About</span>
				<p>Developers are often interested in joining the open source universe based on a set of motivations. Our mission
				is to provide the connection between open source projects who desire new contributors and interested developers
				who want to contribute.</p>
				<p>The analysis proposed in this website is based on <span class="author-reference">Wiese et. al methodology</span>,
				who tryed to comprehend how projects receptivity can be defined in open source projects taking into consideration
				a group of metrics. The analysis proposed here does not necessarly represent the truth, but might be a good
				start point for newcomers.</p>
				<p>
					We encourage you to explore over the {{projects.count}} projects data available for analysis and findings into the open source community.
				</p>
			</div>
			<div class="col-md-6">
				<span class="section-title">Metrics</span>
				<p>To understand how our website measures projects receptivity, it is important to know the metrics we evaluate.</p>
				<div class="metric row">
					<div class="metric-description col-md-10">
						<span class="metric-title">FORKS</span>
						<p>Copies of a repository generally have a high correlation with the number of newcomers that the project
						receive.</p>
					</div>
				</div>
				<div class="metric row">
					<div class="metric-description col-md-10">
						<span class="metric-title">MERGED REQUESTS</span>
						<p>In most cases, projects that accept external submissions tend to be more receptive.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div id="domain-chart"></div>
			</div>
		</div>
	</div>

{% endblock %}
<!-- Google Charts script  -->
{% block javascript %}
<script type="text/javascript">
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(domainPieChart);

	var temp = {{domains_count|safe}};
	//mapping occurences of each unique type of domain:
	counts = {};
	for (var i = 0; i < temp.length; i++) {
    	counts[temp[i]] = 1 + (counts[temp[i]] || 0);
	}

	var count = Object.keys(counts).map(key => counts[key]);
	var domains = Object.keys(counts).map(key => key);
	
	var rows = [];
	for (var i=0; i<count.length;i++) {
		rows.push([ domains[i], count[i] ]);
	}

	function domainPieChart(){
		var data = new google.visualization.DataTable();
		data.addColumn('string','Domain');
		data.addColumn('number','Ocurrences');
		data.addRows(rows);
	
		var options = {
			fontName: 'Rajdhani',
			title: 'Territory of projects',
			backgroundColor: 'transparent',
		};
    	var chart = new google.visualization.PieChart(document.getElementById('domain-chart'));
    	chart.draw(data, options);
	}
    
</script>
{% endblock %}