<!-- Importing base.html as template -->
{% extends 'website/base.html' %}
{% load staticfiles %}
<!-- Page Title -->
{% block title %} Index {% endblock %}
<!-- Page Stylesheets -->
{% block css  %}
	<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}

{% block body %}
	<div class="container text-justify">
		<div class="row">
			<div class="col-md-6">
				<span class="section-title">About</span>
				<p>Developers are often interested in joining the open source universe based on a set of motivations. Our mission
				is to provide the connection between open source projects who desire new contributors and interested developers
				who want to contribute.</p>
				<p>The analysis proposed in this website is based on <span class="author-reference">Wiese et. al methodology</span>,
				who tryed to comprehend how projects receptivity can be defined in open source projects taking into consideration
				a group of metrics. The analysis proposed here does not necessarly represent the truth, but might be a good
				start point for newcomers.</p>
				<p>
					We encourage you to explore over the {{projects.count}} projects data available for analysis and findings into the open source community. Here's how these projects are distributed in matter of their domain:
				</p>
			</div>
			
			<div class="col-md-6">
				<span class="section-title">Metrics</span>
				<p>To understand how our website measures projects receptivity, it is important to know the metrics we evaluate.</p>
				<div class="metric row">
					<div class="metric-description col-md-12">
						<span class="metric-title">FORKS</span>
						<p>Copies of a repository generally have a high correlation with the number of newcomers that the project
						receive. Below are some of the most forked projects on Github as an example </p>
					</div>
				</div>
				<div class="metric row">
					<div class="metric-description col-md-12">
						<span class="metric-title">MERGED REQUESTS</span>
						<p>In most cases, projects that accept external submissions tend to be more receptive.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
{% endblock %}