<!-- Importing base.html as template -->
{% extends 'website/base.html' %}
{% load staticfiles %}
{% load duration %}
{% load mathfilters %}
<!-- Page Title -->
{% block title %} {{project.name}} {% endblock %}
<!-- Page Stylesheets -->
{%  block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
{%endblock%}

{% block body %}
<div class="container">
	<div class="row header">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<span class="project-name">{{project.owner}} / {{project.name}}</span>
				</div>
			</div>	
			
			<div class="row description">
				<div class="col-md-3 text-center">
					<span class="description-item">
						<i class="fas fa-bullseye"></i>
						{{project.application_domain}}
					</span>
				</div>
				<div class="col-md-3 text-center">
					<span class="description-item">
						<i class="fas fa-code"></i>
						{{project.main_language}}
					</span>
				</div>
				<div class="col-md-3 text-center">
					<span class="description-item">
						<i class="fas fa-balance-scale"></i>
						{{project.software_license}}
					</span>
				</div>
				<div class="col-md-3 text-center">
					<span class="description-item">
						<i class="far fa-clock"></i>
						{{project.age}} year of existence
					</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row section time-series">
		<div class="col-md-12">
			<div class="section-header row">
				<div class="col-md-12">
					<span class="section-header-title">Time Series</span>
				</div>
			</div>
			<div class="row section-chart">
				<div class="col-md-12">
					<span class="section-chart-title">Newcomers:</span>
					<div id="{{project.id}}_newcomers_ts"></div>
				</div>
			</div>
			<div class="row section-chart">
				<div class="col-md-12">
					<span class="section-chart-title">Forks:</span>
					<div id="{{project.id}}_forks_ts"></div>
				</div>
			</div>
			<div class="row section-chart">
				<div class="col-md-12">
					<span class="section-chart-title">Pull-requests (Merged):</span>
					<div id="{{project.id}}_pulls_merged_ts"></div>
				</div>
			</div>			
		</div>
	</div>
</div>
{% endblock %}

<!-- Google Charts script  -->
{% block javascript %}
<script>
	google.charts.load('current', {'packages':['annotationchart']});
	google.charts.setOnLoadCallback(drawNewcomersTS);
	google.charts.load('current', {'packages':['bar']});
	google.charts.setOnLoadCallback(drawForksTS);
	google.charts.setOnLoadCallback(drawPullsMergedTS);
	
	function drawNewcomersTS(){
		var data = new google.visualization.DataTable();
		data.addColumn('datetime', 'Date');
		data.addColumn('number', 'Newcomers');
		
		var rows = []
		{% for key, value in project.time_series.newcomers_ts.items %}
		rows.push([new Date("{{ key }}"), {{ value }}]);
		{% endfor %}
		rows.sort(function(a,b){return a[0].getTime() - b[0].getTime()})
		data.addRows(rows);
		
		var options = { fontName: 'Rajdhani',
		displayAnnotations: true,
		title:'Newcomers (Daily)',
		
		hAxis: {
			title: 'Number of newcomers',
		},
		vAxis: {
			title: 'Date',
			logScale: false,
		},
		height:300,
	};
	
	var {{project.project_id}}_newcomers_ts = new google.visualization.AnnotationChart(document.getElementById('{{project.project_id}}_newcomers_ts'));		
	{{project.project_id}}_newcomers_ts.draw(data, options);
};

function drawForksTS(){
	var data = new google.visualization.DataTable();
	data.addColumn('datetime', 'Date');
	data.addColumn('number', 'Forks');
	
	var rows = []
	{% for key, value in project.time_series.forks_ts.items %}
	rows.push([new Date("{{ key }}"), {{ value }}]);
	{% endfor %}
	rows.sort(function(a,b){return a[0].getTime() - b[0].getTime()})
	data.addRows(rows);
	
	var data_aggregated_by_month = google.visualization.data.group(
	data, [{
		'column': 0,
		'aggregation': google.visualization.data.month,
		'type': 'date'
	}],
	[{
		'column': 1,
		'aggregation': google.visualization.data.sum,
		'type': 'number'
	}]);
	
	var options = {fontName: 'Rajdhani', curveType: 'function', vAxis: {logScale: false}, height:250};
	var {{project.project_id}}_forks_ts = new google.visualization.ColumnChart(document.getElementById('{{project.project_id}}_forks_ts'));		
	{{project.project_id}}_forks_ts.draw(data_aggregated_by_month, options);
};

function drawPullsMergedTS(){
	var data = new google.visualization.DataTable();
	data.addColumn('datetime', 'Date');
	data.addColumn('number', 'Pulls Merged');
	
	var rows = [];
	{% for key, value in project.time_series.pulls_merged_ts.items %}
	rows.push([new Date("{{ key }}"), {{ value }}]);
	{% endfor %}
	rows.sort(function(a,b){return a[0].getTime() - b[0].getTime()})
	data.addRows(rows);
	
	var data_aggregated_by_month = google.visualization.data.group(
	data, [{
		'column': 0,
		'aggregation': google.visualization.data.year,
		'type': 'date'
	}],
	[{
		'column': 1,
		'aggregation': google.visualization.data.sum,
		'type': 'number'
	}]);
	
	var options = { fontName: 'Rajdhani',
	curveType: 'function',
	vAxis: {logScale: false},
	height:250
};
var {{project.project_id}}_pulls_merged_ts = new google.visualization.ColumnChart(document.getElementById('{{project.project_id}}_pulls_merged_ts'));	
{{project.project_id}}_pulls_merged_ts.draw(data_aggregated_by_month, options);
};

</script>
{% endblock %}
