html {
    font-size: 100%;
}

/* The side navigation menu */
.sidebar {
    -moz-box-shadow:    3px 3px 5px 9px #ccc; /* Shadow */
    -webkit-box-shadow: 3px 3px 5px 9px #ccc; /* Shadow */
    box-shadow:         3px 3px 5px 9px #ccc; /* Shadow */
    height: 100%; /* 100% Full-height */
    width: 15vw;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: black; /* Black*/
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidebar-header {
  padding-bottom: 10px;
}

.sidebar-title {
  color: white;
  font-weight: bold;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.7vw;
}

/* The navigation menu links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Rajdhani', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    font-weight: bold;
    color: lightgrey;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
