/**********************
      PAGE CONTENT
***********************/
.content {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.section-title {
  font-size: 3em;
  color: black;
  font-weight: bold;
}

.metric-title {
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Rajdhani', sans-serif;
}

.metric-logo {
    width: 4em;
    height: auto;
}

.reference {
  font-weight: bold;
  font-size: 18px;
  font-family: 'Rajdhani', sans-serif;
}
