{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Open Universe Organization">
		<meta name="description" content="Promoting open source communities everyday.">
		<meta name="keywords" content="opensource,software,communities,newcomers">
		<!-- Title -->
		<title>
			{% block title %} Open Universe {% endblock %}
		</title>
		<!-- CSS -->
		<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/libs/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/libs/bootstrap-select.min.css' %}" rel="stylesheet" type="text/css">

		{% block css %} 
		<!-- Empty space for custom css --> 
		{% endblock %}

		<!-- Favicon -->
		<link rel="icon" href="{% static 'img/neptune.png' %}">
		<!-- Fonts -->
	</head>
	<body>
		<!-- Navbar -->
		<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light">
			<div class="container navbar-container">
				<!-- Brand -->
				<a href="{% url 'website:index' %}" class="navbar-brand">
					<span class="navbar-title align-middle">OPEN UNIVERSE</span>
					<img class="navbar-logo align-middle" src="{% static 'img/neptune.png' %}" alt="Made by Eucalpy"/>
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" 
				aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarToggler">					
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<!-- Overview -->
							<a class="nav-link" href="{% url 'website:overview' %}">Overview</a>
						</li>
						<li class="nav-item">
							<!-- Explore -->
							<a class="nav-link"  href="{% url 'website:explore' %}">Explore</a>
						</li>
						<li class="nav-item">
							<!-- Submit -->
							<a class="nav-link" href="https://github.com/openuniverseorg/openuniverse" target="__blank">Submit Project</a>
						</li>

						<li class="nav-item">
							<!-- Search -->
							<form class="navbar-form nav-link"  id="searchform" action="{% url 'website:search' %}" method="get" accept-charset="utf-8">
								<div class="input-group">
									<input type="text" name="query" class="search form-control" placeholder="Search for a project" id="search">
								</div>
							</form>	
						</li>
						<li class="nav-item">
							<!-- Contribute -->
							<a class="nav-link" href="https://github.com/openuniverseorg/openuniverse/wiki" target="__blank">Contribute</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
			
		<div class="content">
			{% block body %} 
			<!-- Empty space for body -->
			{% endblock %}
		</div>
			
		<!-- Footer -->
		<footer class="footer">
			<div class="container">
			</div>
		</footer>

		<!-- Javascript -->
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="{% static 'js/libs/jquery.min.js' %}"></script>
		<script src="{% static 'js/libs/popper.min.js' %}"></script>
		<script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/libs/bootstrap-select.min.js' %}"></script>
		{% block javascript %}

		 <!-- Empty space for custom javascript --> 
		 {% endblock %}
		 
	</body>	
</html>