<!-- Template -->
{% extends 'website/base.html' %}
{% load staticfiles %}
<!-- Title -->
{% block title %} Open Universe - Promoting open source communities {% endblock %}
<!-- CSS -->
{% block css  %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}

{% block body %}
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="introduction">
							<h1>
								<b>Created for newcomers</b>
							</h1>
							<h2>Designed for communities</h2>
							<p class="lead">Open Universe is an analysis platform designed to help new contributors find open source projects. Give yourself the opportunity to join this universe!</p>			
						</div>
					</div>
					<div class="col-lg-6">
						<form class="form">
							<h3>Find a new project</h3>
							<hr>
							<div class="form-group">
								<select class="select selectpicker" data-width="100%" title="Language">
									{% for language in languages %}
									<option>{{ language }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
									<select class="select selectpicker" data-width="100%" title="Domain">
										{% for domain in domains %}
										<option>{{ domain }}</option>
										{% endfor %}
									</select>
							</div>
							<div class="form-group">
									<select class="select selectpicker" data-width="100%" title="License">
										{% for license in licenses %}
										<option>{{ license }}</option>
										{% endfor %}
									</select>
							</div>	
							<button type="submit" class="btn find-btn">I'm ready</button>
						</form>
					</div>				
				</div>
			</div>
		</div>
		<div class="container text-justify">
		<div class="row">
			<div class="col-md-6">
				<span class="section-title">Abstract</span>
				<p>Developers are often interested in joining open source communities based on a set of motivations. Our mission
				is to provide the connection between open source projects who desire new contributors and interested developers
				who want to contribute.</p>
				<p>The analysis proposed in this website are based on <i>Wiese et. al methodology</i>,
				who tryed to comprehend how projects receptivity can be defined in open source projects, taking into consideration
				a group of metrics (e.g. programming languages and software license). The analysis proposed in our platform does not necessarly
				represent the real projects receptivity, but might be a good start point for newcomers to find interested open source projects.
				We encourage you to explore the {{ projects.count }} projects available in our platform! </p>
			</div>
		</div>
	</div>
{% endblock %}
