<!-- Template -->
{% extends 'website/base.html' %}
{% load staticfiles %}
<!-- Title -->
{% block title %} Index {% endblock %}
<!-- CSS -->
{% block css  %}
	<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}

{% block body %}
	<div class="container text-justify">
		<div class="row">
			<div class="col-md-12">
				<span class="section-title">Dataset</span>
				<div class="row">
					<div class="item col-md-6">
						<span class="item-title">DOMAIN</span>
						<div id="projects_per_domain"></div>
					</div>
					<div class="item col-md-6">
						<span class="item-title">AGE</span>
						<div id="projects_per_age"></div>
					</div>	
					<div class="item col-md-6">
						<span class="item-title">LICENSE</span>
						<div id="projects_per_license"></div>
					</div>	
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
<!-- Number of projects by domain -->
<script type="text/javascript">
	google.charts.load("current", { packages: ["corechart", "bar"]});
	google.charts.setOnLoadCallback(domainColumnChart);

	function domainColumnChart() {
		var data = new google.visualization.DataTable();
		data.addColumn('string','Domain');
		data.addColumn('number','Ocurrences');
		data.addColumn({type: 'string', role: 'style'});
		data.addRows([{% for domain, value in projects_per_domain.items %}["{{ domain }}", {{ value }}, 'color: #0057e7'], {% endfor %}]);

	  var options = {
		fontName: 'Helvetica',
		legend: { position: "none" },
		backgroundColor: 'transparent',
	    vAxis: {
	      title: "Ocurrences"
	    },
	    hAxis: {title: "Application Domain"}
	   };

	  var chart = new google.visualization.ColumnChart(
	    document.getElementById("projects_per_domain")
	  );

	  chart.draw(data, options);
	}
</script>

<!-- Number of projects by license -->
<script type="text/javascript">
	google.charts.load("current", { packages: ["corechart", "bar"]});
	google.charts.setOnLoadCallback(licenseColumnChart);

	function licenseColumnChart() {
		var data = new google.visualization.DataTable();
		data.addColumn('string','License');
		data.addColumn('number','Ocurrences');
		data.addColumn({type: 'string', role: 'style'});
		data.addRows([{% for license, value in projects_per_license.items %}["{{ license }}", {{ value }}, 'color: #008744'], {% endfor %}]);

	  var options = {
		fontName: 'Helvetica',
		legend: { position: "none" },
		backgroundColor: 'transparent',
	    vAxis: {
	      title: "Ocurrences"
	    },
	    hAxis: {title: "Software License"}
	   };

	  var chart = new google.visualization.ColumnChart(
	    document.getElementById("projects_per_license")
	  );

	  chart.draw(data, options);
	}
</script>

<!-- Number of projects by age -->
<script type="text/javascript">
	google.charts.load("current", { packages: ["corechart", "bar"]});
	google.charts.setOnLoadCallback(ageColumnChart);

	function ageColumnChart() {
		var data = new google.visualization.DataTable();
		data.addColumn('string','Age');
		data.addColumn('number','Ocurrence');
		data.addColumn({type: 'string', role: 'style'});
		data.addRows([{% for age, value in projects_per_age.items %}["{{ age }}", {{ value }}, 'color: #d62d20'], {% endfor %}]);

	  var options = {
		fontName: 'Helvetica',
		legend: { position: "none" },
		backgroundColor: 'transparent',
	    vAxis: {
	      title: "Ocurrences"
	    },
	    hAxis: {title: "Age (Years)"}
	   };

	  var chart = new google.visualization.ColumnChart(
	    document.getElementById("projects_per_age")
	  );

	  chart.draw(data, options);
	}
</script>
{% endblock %}